version = 0.1

[default]
[default.global.parameters]
stack_name = "express-dynamodb-api"

[default.build.parameters]
cached = true
parallel = true

[default.deploy.parameters]
capabilities = "CAPABILITY_IAM"
confirm_changeset = true
resolve_s3 = true
region = "us-east-1"
parameter_overrides = []
disable_rollback = false
s3_prefix = "express-dynamodb-api"
no_verify_ssl = true

[default.sync.parameters]
watch = true

[default.local_start_api.parameters]
warm_containers = "EAGER"

[default.local_start_lambda.parameters]
warm_containers = "EAGER"